<h1>Proof of concept for peer to peer networking using libp2p or hypercore</h1>

<p>Number of peers connected : {{ numberOfPeers }} </p>
<p>Number of peers connected to me : {{ numberOfPeersConnectedToMe }} </p>

<textarea id="textArea" rows="25" cols="100" readonly></textarea>
<input type="text" id="textToAdd" required minlength="1" maxlength="8" size="10">
<button type=submit (click)="addTextToTextArea()">Send</button>
<button type=submit (click)="logInfoConnectedPeers()">get Connected Peers</button>

